body {
    position: relative; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    background-color: #383532;
}

h1 {
    color: #FFFFFF;
}

#logo {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 120px;
    height: auto;
    z-index: 100;
} 

#video {
    max-width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transform: scaleX(-1);
    border-radius: 15px;
}

#chatSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%; 
    max-width: 640px;
    margin-top: 5px;
}

#latestHandSign {
    margin-top: 20px;
    border: 5px solid #000000;
    padding: 10px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    background-color: #5fc9f8;
    min-height: 50px;
    border-radius: 15px;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 20px;
    position: relative;
    z-index: 10;
}  

#helpIcon {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#helpIcon img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

.tooltip {
    display: none; 
    right: -100px;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 30%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    max-height: 200px;
    overflow-y: auto;
    text-align: center; 
    transform: translateX(-50%);
}

#helpIcon:hover .tooltip {
    display: block;
}

/* Enhanced media queries for different screen sizes */
@media (max-width: 768px) {
    #video {
        width: 100%;
        height: auto;
    }
    #latestHandSign {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    #video {
        width: 100%;
        height: auto;
    }
    #latestHandSign {
        font-size: 1em;
        padding: 5px;
        width: 90%;
    }
    #helpIcon img {
        width: 80px;
    }
}
