body {
    display: flex;
    justify-content: center; /* Centers children horizontally */
    align-items: center; /* Centers children vertically */
    min-height: 100vh; /* Make body at least viewport height */
    margin: 0; /* Remove default margin */
    flex-direction: column; /* Stack children vertically */
    background-color: #edc195; /* Sets the background to a light orange */
}

#video {
    max-width: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    transform: scaleX(-1); /* Flips the video horizontally */
}

#chatSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 640px; /* Consistent with video width */
    margin-top: 5px; /* Reduced space to move the box up */
}

#latestHandSign {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    width: 80%; /* Adjust width to be less than full width of its container */
    max-width: 500px; /* Reduced max width for a narrower box */
    text-align: center;
    background-color: #707070; /* Slightly dark gray background */
    min-height: 50px; /* Sets a minimum height for the box */
}

